{% extends 'layout.html.twig' %}

{% block content %}
    <div id="cover">
        <div class="pin"><img src="{{ asset('img/pin-large-text.png') }}" alt="Les clefs de votre financement se trouvent ici">
        </div>
        <div class="text txtcenter">Félicitations, votre compte a été créé!</div>
    </div>
{% endblock %}
